<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Learning Suite" verbose="1" >
   <listeners>
      <listener class-name="com.utilities.ListenerUtil" />
      </listeners>
  <test name="First test" >
    <classes>
      <class name="com.testcases.GetAPI"/>
      <class name="com.testcases.PostTest"/>
    </classes>
 </test>
</suite>